@use "../../scss/index.scss" as *;

.header {
  background-color: $white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);

  &__container {
    padding: 2.6rem;
    max-width: 140rem;
    margin: 0 auto;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);

    @include tablet() {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet() {
      margin-bottom: 0;
    }

    img {
      width: 170px;
      height: 16px;
    }

    button {
      @include tablet() {
        display: none;
      }

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__links,
  &__invite {
    a:link,
    a:visited {
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;

      @include tablet() {
        font-size: 1.25rem;
      }
    }
  }

  &__links {
    display: none;

    @include tablet() {
      display: block;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      @include tablet() {
        flex-direction: row;
        gap: 4rem;
      }

      li:last-child {
        padding-bottom: 2rem;
        margin-bottom: 2.6rem;
        border-bottom: 1px solid $opaque-grey;

        @include tablet() {
          margin-bottom: 0;
          padding-bottom: 0;
          border: none;
        }
      }
    }

    a:link,
    a:visited {
      display: inline-block;
      color: $black;
    }

    a:hover,
    a:active {
      color: $light-grey;
    }

    &--active {
      position: relative !important;
      color: $light-grey !important;
    }
  }

  &__invite {
    display: none;

    a:link,
    a:visited {
      color: $white;
      background-color: $black;
      display: block;
      padding: 1rem 2rem;
      text-align: center;
    }

    a:hover,
    a:active {
      background-color: $light-grey;
      color: $black;
    }

    @include desktop() {
      display: block;
    }
  }

  &__plus {
    display: none;

    svg {
      fill: $black;
      height: 28px;
      width: 28px;
    }

    @include tablet() {
      display: block;
    }

    @include desktop() {
      display: none;
    }
  }
}

.active {
  .header__container {
    display: flex;
    flex-direction: column;

    @include tablet() {
      flex-direction: row;
    }
  }

  .header__btn {
    margin-bottom: 3.2rem;

    @include tablet() {
      margin-bottom: 0;
    }
  }

  .header__links {
    display: block;
  }

  .header__invite {
    display: block;

    @include tablet() {
      display: none;
    }

    @include desktop() {
      display: block;
    }
  }
}
