@use "../../scss/index.scss" as *;

.hero {
  background-color: $black;

  @include tablet() {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      picture {
        order: 2;
      }
    }
  }

  &:nth-child(even) {
    background-color: $white;

    h1 {
      color: $black;
    }

    p {
      color: $opaque-black;
    }

    a:link,
    a:visited {
      color: $black;
    }
  }

  &__content {
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem;

    @include l-mobile() {
      max-width: 46rem;
    }

    @include tablet() {
      max-width: 50rem;
    }

    @include m-tablet() {
      max-width: 54rem;
    }

    div {
      display: inline-block;
    }

    h1 {
      color: $white;
      font-size: 3rem;
      line-height: 1.4;
      margin-bottom: 2rem;

      @include l-mobile {
        font-size: 3.2rem;
      }

      @include tablet {
        font-size: 4rem;
      }

      @include m-tablet() {
        margin-bottom: 3rem;
      }
    }

    p {
      color: $opaque-grey;
      margin-bottom: 2rem;
      line-height: 1.6;

      @include l-mobile {
        margin-bottom: 3.6rem;
      }
    }

    a:link,
    a:visited {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;

      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 42px;
        height: 12px;
      }
    }
  }
}
