@use "../../scss/index.scss" as *;

.feature {
  display: grid;
  grid-template-columns: 1fr;

  gap: 4.2rem;
  padding: 10rem 0;
  max-width: 31rem;
  margin: 0 auto;

  @include tablet() {
    max-width: 60rem;
    grid-template-columns: 1fr 1fr;

    div:last-child {
      grid-column: 1 / -1;
      max-width: 30rem;
      margin: 0 auto;
    }
  }

  @include m-tablet() {
    max-width: 80rem;

    div:last-child {
      max-width: 40rem;
    }
  }

  div {
    text-align: center;

    img {
      width: 6.4rem;
      height: 6.4rem;
      margin: 0 auto 3rem;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }

    p {
      color: $opaque-black;
    }
  }
}
