@use "../../scss/index.scss" as *;

.footer {
  background-color: $black;

  a:link,
  a:visited {
    color: $white;
  }

  &__wrapper {
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 6rem 2.6rem;
  }

  &__logo {
    margin-bottom: 4rem;

    a:link,
    a:visited {
      display: inline-block;
    }

    img {
      margin: 0 auto;
      width: 17.6rem;
      height: 1.6rem;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 5rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 6rem;

    a:link,
    a:visited {
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }

  &__invite {
    margin-bottom: 2.4rem;

    div {
      display: inline-block;
    }

    a:link,
    a:visited {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;

      img {
        width: 42px;
        height: 12px;
      }
    }
  }

  p {
    color: $opaque-grey;
  }
}
